<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>寒羽说电商</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../css/my-app.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">

</head>
<body>
<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">

        <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
        <div class="pages">
            <!-- Page, "data-page" contains page name -->
            <div id="tagList" data-page="tagList" class="page navbar-fixed no-toolbar">
                <!-- Top Navbar-->

                <div class="navbar">
                    <div class="navbar-inner">
                        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                        <div class="left"><a class="back" href="#"><i class="iconfont icon-backward"></i></a></div>
                        <div class="center"><img src="../img/hanyuLogo.png"></div>
                        <div class="right"><a class="link" href="search.html"><i class="iconfont icon-search"></i></a></div>
                    </div>
                </div>
                <!-- Scrollable page content -->
                <div class="page-content infinite-scroll pull-to-refresh-content">
                    <div class="pull-to-refresh-layer">
                        <div class="preloader"></div>
                        <div class="pull-to-refresh-arrow"></div>
                    </div>
                    <div class="content-tab tagList"></div>
                    <section class="page_container">

                    </section>
                    <script id="tagListTmp" type="text/template7">
                        <div class="list-block" style="margin-top: 0">
                            <ul>
                                {{#content}}
                                <li>
                                    <div class="card show-card">
                                        <div class="card-content">
                                            <div class="list-block media-list">
                                                <ul>
                                                    <li class="item-content" data-id="{{id}}">
                                                        <div class="item-media">
                                                            <img src="{{photo}}" width="60px" height="60px">
                                                        </div>
                                                        <div class="item-inner">
                                                            <div class="item-title-row">
                                                                <div class="item-title article-title">{{title}}</div>
                                                            </div>
                                                            <div class="item-subtitle part">{{dict "partType" part}}</div>
                                                            <div class="item-subtitle sub-foot">
                                                                <a><i class="iconfont icon-heart list-heart"></i> {{num starCount}}</a>
                                                                <div class="share">{{date createDate}}</div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {{/content}}
                            </ul>
                        </div>
                    </script>
                    <div class="infinite-scroll-preloader">
                        <div class="preloader"></div>
                    </div>
                    <!-- Link to another page -->
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Path to Framework7 Library JS-->
<script src="../static/libs/seajs/sea.js"></script>
<script src="../js/core/main.js"></script>
</body>
</html>