<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>寒羽说电商</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../css/my-app.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">

</head>
<body>
<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">


        <div class="pages">
            <div id="addFunds" data-page="addFunds" class="page navbar-fixed toolbar-fixed">
                <!-- Top Navbar-->

                <div class="navbar">
                    <div class="navbar-inner">
                        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                        <div class="left"><a class="back" href="#"><i class="iconfont icon-backward"></i></a></div>
                        <div class="center">积分充值</div>
                        <div class="right"></div>
                    </div>
                </div>

                <div class="page-content pull-to-refresh-content">
                    <div class="pull-to-refresh-layer">
                        <div class="preloader"></div>
                        <div class="pull-to-refresh-arrow"></div>
                    </div>
                    <div style="margin-top:50px;text-align: center">
                        现有积分<strong style="color: chocolate" id="jifen">-</strong>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title label">充值积分数</div>
                                    <div class="item-input">
                                        <input id="funds" type="number" placeholder="每充值10积分所需1元人民币">
                                    </div>
                                </div>
                            </li>
                            <li class="item-content">
                                <div class="item-inner">
                                    <div class="item-title">需要人民币</div>
                                    <div class="item-after" style="margin-top: 0!important;" id="need">0元</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="list-block">
                        <ul>
                            <li>
                                <label class="label-radio item-content">
                                    <input type="radio" name="pay" value="aliPay" checked="checked">
                                    <div class="item-media" style="padding-left: 15px">
                                        <img src="../img/alipay.png" width="25px">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">支付宝支付<img src="../img/tuijian.png" height="20px"></div>
                                    </div>
                                </label>
                            </li>

                            <li style="display: none">
                                <label class="label-radio item-content">
                                    <input type="radio" name="pay" value="wechatPay">
                                    <div class="item-media" style="padding-left: 15px">
                                        <img src="../img/wxpay.png" width="25px">
                                    </div>
                                    <div class="item-inner">
                                        <div class="item-title">微信支付<img src="../img/tuijian.png" height="20px"></div>
                                    </div>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div align="center">
                        <a href="#" class="button button-round button-fill addfunds" style="background-color: orange;font-size: 20px;width: 60%">提交</a>
                    </div>

                    <div class="card show-card" style="margin-top: 50px">
                        <div class="card-header">积分用途</div>

                        <div class="card-content">
                            <div class="list-block media-list">
                                <ul>
                                    <li class="item-content">
                                        <div class="item-media" style="padding-left: 15px">
                                            <i class="iconfont icon-ask"></i>
                                        </div>
                                        <div class="item-inner" style="padding-left: 0">
                                            <div class="item-title-row">
                                                <div class="item-title">向寒羽提问</div>
                                            </div>
                                            <div class="item-subtitle">在寒羽说电商内向寒羽提问，需要使用积分来支付。</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-media" style="padding-left: 15px">
                                            <i class="iconfont icon-heart"></i>
                                        </div>
                                        <div class="item-inner" style="padding-left: 0">
                                            <div class="item-title-row">
                                                <div class="item-title">兑换会员</div>
                                            </div>
                                            <div class="item-subtitle">每3650积分，可以直接兑换一年的寒羽说电商VIP资格。</div>
                                        </div>
                                    </li>
                                    <li class="item-content">
                                        <div class="item-media" style="padding-left: 15px">
                                            <i class="iconfont icon-book"></i>
                                        </div>
                                        <div class="item-inner" style="padding-left: 0">
                                            <div class="item-title-row">
                                                <div class="item-title">积分商城</div>
                                            </div>
                                            <div class="item-subtitle">寒羽说电商会开设积分商城，让商家朋友们可以在积分商城里兑换各种礼品。</div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Bottom Toolbar-->

                <div class="toolbar" style="height: 60px">
                    <div class="toolbar-inner row">
                        <!-- Toolbar links -->
                        <div class="toolbar-items"><a href="QAhome.html" class="link"><p><i class="iconfont icon-multiask"></i></p></a><p class="toolbar-txt">关于</p></div>
                        <div class="toolbar-items"><a href="studyHome.html" class="link"><p><i class="iconfont icon-book" style="color: chocolate"></i></p></a><p class="toolbar-txt" style="color: chocolate">课程</p></div>
                        <div class="toolbar-items"><a href="vipHome.html" class="link"><p><i class="iconfont icon-user"></i></p></a><p class="toolbar-txt">个人</p></div>
                    </div>
                </div>
            </div>
        <!-- Link to another page -->
        </div>


    </div>
</div>
<script src="../static/libs/seajs/sea.js"></script>
<script src="../js/core/main.js"></script>
</body>
</html>