<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Your app title -->
    <title>寒羽说电商</title>
    <!-- Path to Framework7 Library CSS, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.min.css">
    <!-- Path to Framework7 color related styles, iOS Theme -->
    <link rel="stylesheet" href="../static/libs/framework7/css/framework7.ios.colors.min.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="../css/my-app.css">
    <!-- iconfont -->
    <link rel="stylesheet" href="../css/iconfont/iconfont.css">

</head>
<body>
<!-- Status bar overlay for full screen mode (PhoneGap) -->
<div class="statusbar-overlay"></div>
<!-- Views -->
<div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">


        <div class="pages">
            <div id="fundsDetail" data-page="fundsDetail" class="page navbar-fixed toolbar-fixed">
                <!-- Top Navbar-->

                <div class="navbar">
                    <div class="navbar-inner">
                        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
                        <div class="left"><a class="back" href="#"><i class="iconfont icon-backward"></i></a></div>
                        <div class="center">积分明细</div>
                        <div class="right"></div>
                    </div>
                </div>

                <div class="page-content">
                    <section class="page_container">

                    </section>
                    <script id="fundsDetailTmp" type="text/template7">
                        <div class="list-block" style="margin-top: 0">
                            {{#content}}
                            <div class="card">
                                <div class="card-header">{{remarks}}</div>
                                <div class="card-footer">
                                    <a class="foot-left">当前余额：{{totalAmountFormat}}</a>
                                    {{#if amountFormat>0}}
                                    <a class="foot-right">+{{amountFormat}}</a>
                                    {{else}}
                                    <a class="foot-right" style="color:red;">{{amountFormat}}</a>
                                    {{/if}}
                                </div>
                            </div>
                            {{/content}}
                        </div>
                    </script>
                </div>
                <!-- Bottom Toolbar-->

                <div class="toolbar" style="height: 60px">
                    <div class="toolbar-inner row">
                        <!-- Toolbar links -->
                        <div class="toolbar-items"><a href="QAhome.html" class="link"><p><i class="iconfont icon-multiask"></i></p></a><p class="toolbar-txt">关于</p></div>
                        <div class="toolbar-items"><a href="studyHome.html" class="link"><p><i class="iconfont icon-book" style="color: chocolate"></i></p></a><p class="toolbar-txt" style="color: chocolate">课程</p></div>
                        <div class="toolbar-items"><a href="vipHome.html" class="link"><p><i class="iconfont icon-user"></i></p></a><p class="toolbar-txt">个人</p></div>
                    </div>
                </div>
        </div>
                    <!-- Link to another page -->
        </div>


    </div>
</div>
<!-- Path to Framework7 Library JS-->
<script src="../static/libs/seajs/sea.js"></script>
<script src="../js/core/main.js"></script>

</body>
</html>